<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Sarabun:500" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <ul class="header">
        </ul>
      </nav>
    </header>

    <section>
      <div class="intro-picture">
        <div class="main-content">
          <div class="main-content-column">
            <img src="/images/profile.jpg" class="profile-image">
          </div>
          <div class="main-content-column">
            <div class="title-font">
              <h1>Welcome</h1>
            </div>
            <div class="body-text-font">
              <p>My name is Cameron Massey</p>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content">
        <p>Photography</p>
      </div>
      <div class="main-content">
        <div class="main-content-column">
          <img src="/images/mountain.png" class="profile-image">
        </div>
        <div class="main-content-column">
          <img src="/images/eagle.png" class="profile-image">
        </div>
        <div class="main-content-column">
          <img src="/images/waterfall_sun.png" class="profile-image">
        </div>
        <div class="main-content-column">
          <img src="/images/waterfall.png" class="profile-image">
        </div>
        <div class="main-content-column">
          <img src="/images/ice_man.jpg" class="profile-image">
        </div>
        <div class="main-content-column">
          <img src="/images/ice_leaf.png" class="profile-image">
        </div>
      </div>
      <div class="main-content">
      </div>
    </section>
  </body>
</html>
