<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Sarabun:500" rel="stylesheet">

    <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function showDivs(n) {
        var isMobile = window.matchMedia("only screen and (max-width: 760px)").matches;

        var i;
        if (isMobile){
          var x = document.getElementsByClassName("mobile-image");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length} ;

          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          x[slideIndex-1].style.display = "block";
        }
        else{
          var x = document.getElementsByClassName("main-content-photo");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length} ;

          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          x[slideIndex-1].style.display = "flex";
        }

      }

      function responsive() {
        var x = document.getElementById("header-menu");
        if (x.className === "header") {
          x.className += " responsive";
        } else {
          x.className = "header";
        }
      }
    </script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="header" id="header-menu">

          <li class="icon">
            <a href="javascript:void(0);" class="icon" onclick="responsive()">
              ☰
            </a>
          </li>

          <div class="menu-items">
            <li class='menuButton'><a href="#">Home</a></li>
            <li class='menuButton'><a href="#skills">Skills</a></li>
            <li class='menuButton'><a href="/blog">Blog</a></li>
            <li class="headerImage"><a href="https://github.com/OutdoorCoder?tab=repositories" target="_blank"><img src="/images/GitHub-Mark.png"></a></li>
            <li class="headerImage"><a href="https://www.linkedin.com/in/cameron-massey-056b89127/" target="_blank"><img src="/images/linkedin-logo.png"></a></li>
          </div>
        </ul>
      </nav>
    </header>

    <section>
      <div class="intro-picture">
        <div class="main-content" style="align-items: center;">
          <div class="main-content-column-double">
            <img src="/images/profile.png" class="profile-image">
          </div>
          <div class="main-content-column-double">
              <div class="intro-title-font">
                <h1>Welcome</h1>
              </div>

              <div class="intro-body-text-font">
                <p>My name is Cameron Massey.<br>
                I am a software engineer.<br>
                My goal in the software industry is to constantly learn and improve my abilities in order to work on new and exciting projects.</p>
                <p>Due to several factors I am now looking for new employment. If you wish to contact me please use the email provided: <a href="mailto:cameron_massey@yahoo.com">cameron_massey@yahoo.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grey-background">
        <div class="main-content">
          <div class="main-content-column-single">
            <div class="main-content-column">
              <div class="section-title">
                <div class="header-font">
                  <h1>This Site</h1>
                </div>
              </div>
              <div class="body-text-font">
                <p>
                  The purpose of this site is to display and advertise the skills I have available, and also tell you a little about myself.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="double_separator"></div>

      <div class="main-content" style="text-align:center;">
        <div class="main-content-column-single">
          <div class="section-title">
            <div class="header-font">
              <h1>Services</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="main-content">
        <div class="main-content-column-double">
            <div class="header-font">
              <h1>Web Building</h1>
            </div>

            <div class="body-text-font">
              <p>I build websites for small business's. If you're a small business owner looking for a new website, I can do it for a cheap affordable price.
              </p>
            </div>
          </div>
        <div class="main-content-column-double">
            <div class="header-font">
              <h1>Software Development</h1>
            </div>

            <div class="body-text-font">
              <p>I am currently searching for new software development opportunities. My interests in software are broad and varied,
                therefore I am open to many different roles.
              </p>
            </div>
          </div>
        </div>

      <div class="double_separator"></div>

      <div class="grey-background">
        <div class="main-content" style="text-align:center;" id="skills">
          <div class="main-content-column-single">
            <div class="section-title">
              <div class="header-font">
                <h1>Skills</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="main-content">
          <div class="main-content-column-triple">
            <div class="section-title">
              <div class="header-font">
                <h1>OO Programming</h1>
              </div>
            </div>
            <div class="body-text-font">
              <p>
                I have 4 years working with Java, and 2 years working with VB.Net.
                Through these object oriented languages I have gained experience with design patterns and data sctructures.
              </p>
            </div>
          </div>
          <div class="main-content-column-triple">
            <div class="section-title">
              <div class="header-font">
                <h1>Data</h1>
              </div>
            </div>
            <div class="body-text-font">
              <p>
                I have 2 years experience in the software industry working with SQL Server to manage large amounts of data.
                I also have worked wtih NoSql services like MongoDb.
              </p>
            </div>
          </div>
          <div class="main-content-column-triple">
            <div class="section-title">
              <div class="header-font">
                <h1>Web</h1>
              </div>
            </div>
            <div class="body-text-font">
              <p>
                Through personal work and academic experience I have worked on several web projects, including this website.
                The technologies I have worked with are Nodejs, HTML, CSS, and JavaScript.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="double_separator"></div>

      <div class="main-content">
        <div class="main-content-column-triple">
          <div class="section-title">
            <div class="header-font">
              <h1>Dedication to detail</h1>
            </div>
          </div>
          <div class="body-text-font">
            <p>
              Programming is a tricky business where any typo or small oversight can lead to larger issues.
              This is why I constantly review and refine my work to make sure it is as clean and reliable as possible.
            </p>
          </div>
        </div>
        <div class="main-content-column-triple">
          <div class="section-title">
            <div class="header-font">
              <h1>Enjoyment</h1>
            </div>
          </div>
          <div class="body-text-font">
            <p>
              Coding is fun, and in my career I want to meet fun people and make lasting friendships.
            </p>
          </div>
        </div>
        <div class="main-content-column-triple">
          <div class="section-title">
            <div class="header-font">
              <h1>Motivation</h1>
            </div>
          </div>
          <div class="body-text-font">
            <p>
              I enjoy learning. My motivation in my software career is to learn and develop with as many technologies and tools as I can,
              and through these tools I want to create new and exciting projects.
            </p>
          </div>
        </div>
      </div>



      <div class="double_separator"></div>

      <div class="grey-background">
        <div class="main-content">
          <div class="main-content-column-single" style="text-align:center;">
            <div class="section-title">
              <div class="header-font">
                <h1>Projects</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="main-content" style="align-items:center;">
          <div class="main-content-column-double">
            <div class="section-title">
              <div class="header-font">
                <h1>Mosaic</h1>
              </div>
            </div>
            <div class="body-text-font">
              <p>
                Small business site I created for a non-profit. I took on the project in order to improve my front-end design skills such as CSS, HTML, and JavaScript.
                You can check out the site here: <a href="http://www.mosaic3sc.com" target="_blank">Mosaic</a>
              </p>
            </div>
          </div>
          <div class="main-content-column-double">
            <img src="/images/Mosaic.png" class="project-image">
          </div>
        </div>
        <div class="main-content" style="align-items:center;">
          <div class="main-content-column-double">
            <img src="/images/deep-thought.png" class="project-image">
          </div>
          <div class="main-content-column-double">
            <div class="section-title">
              <div class="header-font">
                <h1>Deep Thought Helper</h1>
              </div>
            </div>
            <div class="body-text-font">
              <p>
                In order to further my knowledge of creating automated processes I created a web scraping site built with Nodejs and Python.
                You can check out the site here: <a href="https://deep-thought-helper.herokuapp.com" target="_blank">Deep Thought Helper</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="double_separator"></div>

      <div class="main-content" style="padding-bottom: 20px;">
        <div class="main-content-column-single" style="text-align:center;">
          <div class="section-title">
            <div class="header-font">
              <h1>Resume</h1>
            </div>
          </div>
        </div>
      </div>

      <iframe src="/images/Resume.pdf" width="100%" height="600px" style="border:none; padding-bottom: 20px;"></iframe>

      <div class="double_separator"></div>

      <div class="main-content">
        <div class="hobby-text">
          <div class="section-title">
            <div class="header-font">
              <h1>Photography</h1>
            </div>
          </div>
          <div class="body-text-font">
            <p>One of my many hobbies is photography. Below are some of my favorite pictures that I've taken, give them a click if you want to take a closer look.</p>
          </div>
        </div>
      </div>

      <div class="photo-holder">
        <button class="picture-button-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="picture-button-right" onclick="plusDivs(1)">&#10095;</button>

        <div class="mobile-photos">
          <a href="/images/ice_leaf.png">
            <img src="/images/ice_leaf.png" class="mobile-image" style="display: block;">
          </a>
          <a href="/images/eagle.png">
            <img src="/images/eagle.png" class="mobile-image">
          </a>
          <a href="/images/ice_man.jpg">
            <img src="/images/ice_man.jpg" class="mobile-image">
          </a>
          <a href="/images/waterfall_sun.png">
            <img src="/images/waterfall_sun.png" class="mobile-image">
          </a>
          <a href="/images/railyard.png">
            <img src="/images/railyard.png" class="mobile-image">
          </a>
          <a href="/images/trees.png">
            <img src="/images/trees.png" class="mobile-image">
          </a>
          <a href="/images/flowers.png">
            <img src="/images/flowers.png" class="mobile-image">
          </a>
          <a href="/images/elephant.png">
            <img src="/images/elephant.png" class="mobile-image">
          </a>
          <a href="/images/waterfall.png">
            <img src="/images/waterfall.png" class="mobile-image">
          </a>
          <a href="/images/mountain.png">
            <img src="/images/mountain.png" class="mobile-image">
          </a>
          <a href="/images/rocks.png">
            <img src="/images/rocks.png" class="mobile-image">
          </a>
        </div>

        <div class="main-content-photo">
          <div class="main-content-column">
            <a href="/images/ice_leaf.png">
              <img src="/images/ice_leaf.png" class="gallery-image">
            </a>
          </div>
          <div class="main-content-column">
            <a href="/images/eagle.png">
              <img src="/images/eagle.png" class="gallery-image">
            </a>
          </div>
          <div class="main-content-column">
            <a href="/images/ice_man.jpg">
              <img src="/images/ice_man.jpg" class="gallery-image">
            </a>
          </div>
          <div class="main-content-column">
            <a href="/images/waterfall_sun.png">
              <img src="/images/waterfall_sun.png" class="gallery-image">
            </a>
          </div>
        </div>

        <div class="main-content-photo" style="display:none;">
          <div class="main-content-column">
            <a href="/images/railyard.png">
              <img src="/images/railyard.png" class="gallery-image">
            </a>
          </div>
          <div class="main-content-column">
            <a href="/images/trees.png">
              <img src="/images/trees.png" class="gallery-image">
            </a>
          </div>
          <div class="main-content-column">
            <a href="/images/flowers.png">
              <img src="/images/flowers.png" class="gallery-image">
            </a>
          </div>
          <div class="main-content-column">
            <a href="/images/elephant.png">
              <img src="/images/elephant.png" class="gallery-image">
            </a>
          </div>
        </div>

        <div class="main-content-photo" style="display:none;">
          <div class="main-content-column">
            <a href="/images/waterfall.png">
              <img src="/images/waterfall.png" class="gallery-image">
            </a>
          </div>
          <div class="main-content-column">
            <a href="/images/mountain.png">
              <img src="/images/mountain.png" class="gallery-image">
            </a>
          </div>
          <div class="main-content-column">
            <a href="/images/rocks.png">
              <img src="/images/rocks.png" class="gallery-image">
            </a>
          </div>
          <div class="main-content-column">
            <a href="/images/vines.png">
              <img src="/images/vines.png" class="gallery-image">
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
