<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Sarabun:500" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <ul class="header">
        </ul>
      </nav>
    </header>

    <section>
      <div class="intro-picture">


        <div class="main-content">
          <div class="intro-content-column">
            <img src="/images/profile.jpg" class="profile-image">
          </div>
          <div class="intro-content-column">
              <div class="title-font">
                <h1>Welcome</h1>
              </div>

              <div class="body-text-font">
                <p>My name is Cameron Massey.<br>
                I am a software engineer at Fast Enterprises.<br>
                Here at FAST I have worked hard and accomplished many of my goals, alongside my excellent teammates.</p>
                <p>However, due to several factors I am now looking for new employment. If you wish to contact me please use the email provided: <a href="mailto:cameron_massey@yahoo.com">cameron_massey@yahoo.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="grey-background">
        <div class="main-content">
          <div class="main-content-column-single">
            <div class="main-content-column">
              <div class="section-title">
                <div class="header-font">
                  <h1>This Site</h1>
                </div>
              </div>
              <div class="body-text-font">
                <p>
                  The purpose of this site is to display and advertise the skills I have available, and also tell you a little about myself.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="double_separator"></div>


      <div class="main-content">
        <div class="main-content-column-triple">
          <div class="section-title">
            <div class="header-font">
              <h1>Dedication to detail</h1>
            </div>
          </div>
          <div class="body-text-font">
            <p>
              Programming is a tricky business where any typo or small oversight can lead to larger issues.
              This is why I constantly review and refine my work to make sure it is as clean and reliable as possible.
            </p>
          </div>
        </div>
        <div class="main-content-column-triple">
          <div class="section-title">
            <div class="header-font">
              <h1>Motivation</h1>
            </div>
          </div>
          <div class="body-text-font">
            <p>
              I enjoy learning. My motivation in my software career is to learn and develop with as many technologies and tools as I can,
              and through these tools I want to create new and exciting projects.
            </p>
          </div>
        </div>
        <div class="main-content-column-triple">
          <div class="section-title">
            <div class="header-font">
              <h1>Enjoyment</h1>
            </div>
          </div>
          <div class="body-text-font">
            <p>
              Coding is fun, and in my career I want to meet fun people and make lasting friendships.
            </p>
          </div>
        </div>
      </div>

      <div class="double_separator"></div>

      <div class="grey-background">
        <div class="main-content" style="padding-top:30px; text-align:center;">
          <div class="main-content-column-single">
            <div class="section-title">
              <div class="header-font">
                <h1>Skills</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="main-content">
          <div class="main-content-column-triple">
            <div class="section-title">
              <div class="header-font">
                <h1>OO Programming</h1>
              </div>
            </div>
            <div class="body-text-font">
              <p>
                I dedicated to the minute details of stuff.
              </p>
            </div>
          </div>
          <div class="main-content-column-triple">
            <div class="section-title">
              <div class="header-font">
                <h1>Data</h1>
              </div>
            </div>
            <div class="body-text-font">
              <p>
                I want to create cool and innovative stuff.
              </p>
            </div>
          </div>
          <div class="main-content-column-triple">
            <div class="section-title">
              <div class="header-font">
                <h1>Web</h1>
              </div>
            </div>
            <div class="body-text-font">
              <p>
                I want to meet fun people and make lasting friendships.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="double_separator"></div>
      <div class="main-content">
        <div class="main-content-column-single" style="text-align:center;">
          <div class="section-title">
            <div class="header-font">
              <h1>Projects</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="main-content-column-double">
        </div>
        <div class="main-content-column-double">
        </div>
      </div>
      <div class="double_separator"></div>

      <div class="main-content">
        <div class="hobby-text">
          <div class="section-title">
            <div class="header-font">
              <h1>Photography</h1>
            </div>
          </div>
          <div class="body-text-font">
            <p>One of my many hobbies is photography. Below are some of my favorite pictures that I've taken, give them a click if you want to take a closer look.</p>
          </div>
        </div>
      </div>


      <div class="main-content">
        <div class="main-content-column">
          <a href="/images/ice_leaf.png">
            <img src="/images/ice_leaf.png" class="profile-image">
          </a>
        </div>
        <div class="main-content-column">
          <a href="/images/eagle.png">
            <img src="/images/eagle.png" class="profile-image">
          </a>
        </div>
        <div class="main-content-column">
          <a href="/images/ice_man.jpg">
            <img src="/images/ice_man.jpg" class="profile-image">
          </a>
        </div>
        <div class="main-content-column">
          <a href="/images/waterfall_sun.png">
            <img src="/images/waterfall_sun.png" class="profile-image">
          </a>
        </div>
        <div class="main-content-column">
          <a href="/images/waterfall.png">
            <img src="/images/waterfall.png" class="profile-image">
          </a>
        </div>
        <div class="main-content-column">
          <a href="/images/mountain.png">
            <img src="/images/mountain.png" class="profile-image">
          </a>
        </div>
      </div>
      <div class="main-content">
        <div class="main-content-column">
          <a href="/images/railyard.png">
            <img src="/images/railyard.png" class="profile-image">
          </a>
        </div>
        <div class="main-content-column">
          <a href="/images/trees.png">
            <img src="/images/trees.png" class="profile-image">
          </a>
        </div>
        <div class="main-content-column">
          <a href="/images/flowers.png">
            <img src="/images/flowers.png" class="profile-image">
          </a>
        </div>
        <div class="main-content-column">
          <a href="/images/elephant.png">
            <img src="/images/elephant.png" class="profile-image">
          </a>
        </div>
        <div class="main-content-column">
          <a href="/images/rocks.png">
            <img src="/images/rocks.png" class="profile-image">
          </a>
        </div>
      </div>


      <div class="main-content"></div>
    </section>
  </body>
</html>
