body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  padding: 0;
  margin: 0;
}

.header-font {
  font-family: 'Raleway', sans-serif;
}

.body-text-font {
  font: 25px 'Sarabun', sans-serif;
}

.title-font {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
}

ul.header {
  background-color: #00303F;
  margin: 0;
  overflow: hidden;
  border-radius: 0px;
  width: 100%;
  height: 60px;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.intro-picture {
  background-image: url("/images/DSC_0643.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
}


    .main-content {
      padding-top: 100px;
      justify-content: center;
      display: flex;
      padding-bottom: 0;
    }

      .main-content-text {
        justify-content: center;
        display: flex;
        text-align: left;
      }

      .main-content-column {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        border-radius: 5px;
        padding: 20px;
        flex-basis: 500px;
        flex-grow: 0;
        padding-top: 0;
        padding-bottom: 0;
        flex-shrink: 0;
        text-align: center;
      }
